<!DOCTYPE html>
<html>
    <head>
        <title>Years - Gon's Blog - gonapps.io</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,user-scalable=yes"/>
        <link href="http://gonapps.io/res/favicon.gif" rel="shortcut icon" type="image/x-icon"/>
        <link href="http://gonapps.io/res/responsive_grid_system.css" rel="stylesheet" type="text/css"/>
        <link href="http://gonapps.io/blog/res/blog.css" rel="stylesheet" type="text/css"/>
        <script src="http://gonapps.io/js/jquery.min.js" type="text/javascript"></script>
        <script src="http://gonapps.io/blog/js/blog.js" type="text/javascript"></script>
    </head>
    <body>
        <header>
            <div id="header_blank" class="span12"></div>
            <div id="menu"></div>
            <div id="menu_button"></div>
            <div id="blog_title" class="span12">
                <div class="span5_center">
                    <a href="http://gonapps.io/blog"><img src="http://gonapps.io/blog/res/blog_title.svg"/></a>
                </div>
                <hr class="red_hr"/>
            </div>
        </header>
        <main>
            <div class="span12 text_align">
                <div class="span" style="width:50rem;border:0.5rem solid black;font-size:2rem">
                    <p>
                        <a href="..">..</a>
                    </p>
                </div>
                [% FOREACH year IN years %]
                    <div class="span" style="width:50rem;border:0.5rem solid black;font-size:2rem">
                        <p>
                            <a href="[% GET year %]">[% GET year %]</a>
                        </p>
                    </div>
                [% END %]
            </div>
        </main>
        <footer>
            <li id="profile" class="not_contained">
                <div>Profile</div>
                <img style="width:10rem" src="http://gonapps.io/res/wawa.jpg"/>
                <p>Hello my name is Byeonggon Lee</p>
            </li>
            <ul>
                <li id="archive">
                    <a href="http://gonapps.io/blog/admin">Admin</a>
                </li>
                <li id="archive">
                    <a href="http://gonapps.io/blog/posts">Archive</a>
                </li>
                <li id="tags">
                    <a href="http://gonapps.io/blog/tags">Tags</a>
                </li>
            </ul>
            <hr class="yellow_hr"/>
            <ul>
                <li><a href="http://gonapps.io/blog">Gon's Blog</a></li>
                <li><a href="http://gonapps.io/apps">Gon Apps</a></li>
                <li><a href="http://gonapps.io/forums">Forums</a></li>
                <li><a href="http://gonapps.io/about.html">About</a></li>
                <li>
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick"/>
                        <input type="hidden" name="hosted_button_id" value="ZEJU5LY7WNVZ4"/>
                        <input type="image" name="submit" alt="Donate with PayPal"/>
                    </form>
                </li>
            </ul>
            <div id="copyright" class="span12"></div>
        </footer>
    </body>
</html>

