<html lang="en-US">
    <head>
        <title>Admin Page</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,user-scalable=yes">
    </head>
    <body>
        <meta http-equiv="refresh" content="1; url=[% GET $url_path %]/blog/admin/index.pl">
        <h1>
            [% IF action == 'login'%]
                [% IF status == 'success' %]
                    Login Success
                [% ELSE %]
                    Login Failure
                [% END %]
            [% ELSIF  action == 'logout'%]
                [% IF status == 'success' %]
                    Logout Success
                [% ELSE %]
                    Logout Failure
                [% END %]
            [% ELSE %]
                Something gone wrong
            [% END %]
        </h1>
    </body>
</html>
