<form action="[% GET url_path %]/admin/index.pl" method="POST">
    <h2>Login Required</h2>
    <label for="id">ID</label>
    <br/>
    <input name="id" type="text"/>
    <br/>
    <label for="password">PASSWORD</label>
    <br/>
    <input name="password" type="password"/>
    <br/>
    <br/>
    <input name="action" value="login" type="hidden"/>
    [% IF original_query_string.defined() %]
        <input type="hidden" name="original_query_string" value="[% GET original_query_string %]"/>
    [% END %]
    <input value="Login" type="submit"/>
</form>
