<form action="[% GET url_path %]/admin/index.pl" method="POST">
    <h2>Login Required</h2>
    <label for="id">ID</label>
    <br/>
    <input name="id" type="text"/>
    <br/>
    <label for="password">PASSWORD</label>
    <br/>
    <input name="password" type="password"/>
    <br/>
    <br/>
    <input name="action" value="login" type="hidden"/>
    <input value="Login" type="submit"/>
</form>
