<p>
    [% IF action == 'create' %]
        <p><a href="[% GET post.get_url_path() %]">[% GET post.get_url_path() %]</a> created
    [% ELSIF action == 'modify' %]
        <a href="[% GET post.get_url_path() %]">[% GET post.get_url_path() %]</a> modified
    [% ELSIF action == 'delete' %]
        [% GET post_url_path %] deleted
    [% END %]
</p>
